@font-face {
    font-family: 'Italianno';
    src: url('Italianno-Regular.eot');
    src: url('Italianno-Regular.eot?#iefix') format('embedded-opentype'),
        url('Italianno-Regular.woff2') format('woff2'),
        url('Italianno-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

